<ion-header>
  <ion-toolbar>
    <ion-title>
      Add room
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="add-room-div">
    <ion-input type="text" [(ngModel)]="name" class="input" placeholder="Room name"></ion-input>
    <ion-button color="primary" (click)="addRoom()" class="btn">Add room</ion-button>
  </div>
</ion-content>