.add-room-div {

    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto;

    .btn {

        width: 100%;
    
    }

    .input {
        
        border-bottom: 1px solid black;

    }
}