<ion-header>
  <ion-toolbar>
    <ion-title>
      Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="list list-ios hydrated">
            
        <ion-item button="" *ngFor="let item of items" (click)="openNavMessage()" >
          <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}"  slot="start"></ion-icon>
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
            <h3>{{ item.title }}</h3>
          </ion-label>
        </ion-item>
      
    </ion-list>
    
</ion-content>

