.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .bubble-chat-joined {
        margin: 12px 0;
        background-color: #e8e8e8;
        color: black;
        padding: 8px 15px;
        border-radius: 99px;
        text-align: center;
        font-size: 12px;
        width: fit-content;
        align-self: center;
    }
    .bubble-chat-received {
        margin: 12px 0;
        p {
            color: #888888;
            font-size: 14px;
            margin-bottom: 6px;
        }
        div {
            background-color: #e8e8e8;
            color: black;
            padding: 15px 15px;
            border-radius: 18px;
            text-align: left;
            font-size: 14px;
            width: 80%;
            align-self: left;
        }
    }
    .bubble-chat-send {
        margin: 12px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        div {
            background-color: rgb(26, 219, 91);
            color: white;
            padding: 15px 15px;
            border-radius: 18px;
            text-align: right;
            font-size: 14px;
            width: 80%;
            align-self: right;
        }
    }
}
.chat-footer {
    position: absolute;
    bottom: 0; 
    border-top: 0.5px solid #e8e8e8;
    ion-col.col2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ion-icon {
        width: 25px;
        height: 25px;
        .icon-inner svg {
            fill: #888888;
        }
    }
}