<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Message</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="chat-room">
   <div class="bubble-chat-joined">Lukas joined the room</div>
   <div class="bubble-chat-received">
     <p>Lukas</p>
     <div>Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant</div>
   </div>
   <div class="bubble-chat-send">
     <div>minus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoqu</div>
   </div>
  </div>
</ion-content>  
<ion-footer class="chat-footer">
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
          <ion-input type="text" placeholder="Type a message" name="message"></ion-input>
        </ion-col>
        <ion-col class="col2" size="2">
          <ion-icon name="send"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>